In [1]:
%matplotlib inline

In [2]:
import pandas as pd
import numpy as np
import os
import json
from pandas.io.json import json_normalize
import cPickle as pk
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

In [4]:
handle=open('../data/Kenya.pickle','r')
df2=pk.load(handle)
handle.close()
# comment line 2

In [5]:
#handle=open('../data/Kenya.pickle','w')
#pk.dump(y,handle,protocol=0)
#handle.close()

In [6]:
df2.shape

(98099, 47)

In [7]:
def gender_extract(recip):
    lst=[]
    for i in recip:
        lst.append(i['gender'])
    return lst

In [8]:
proportion_fem=[]
borrower_team_size=[]

In [9]:
                                                   #This function is used in .apply() to fill two lists with
def fl_gender(recip,proportion_fem,borrower_team_size):
    sexes=gender_extract(recip)
    num_borrowers=len(sexes)
    #print 'sexes = ', sexes, 'num_borrowers = ',num_borrowers
    proportion_fem.append(float(sexes.count('F'))/num_borrowers)
    borrower_team_size.append(num_borrowers)

In [10]:
                                                     # Here, the two lists are filled from df2.borrowers
df2.borrowers.apply(fl_gender, args=(proportion_fem,borrower_team_size));

In [11]:
df2.loc[:,'prop_female']= pd.Series(proportion_fem,index=df2.index)      #add the lists as columns to the dataframe

In [12]:
df2.loc[:,'num_borrowers']=pd.Series(borrower_team_size,index=df2.index) #here too

In [23]:
#df2.columns

In [281]:
                     #from Amir Ziai's web page. Will flatten completely, but within a dataframe, the 
    # DO NOT RUN     #output from successive rows within may vary, making it inpossible to concatanate to a
                     #single data frame. That would depend on each dict in successive rows being the of identical length.
def flatten_json(y):
    out = {}

    def flatten(x, name=''):
        if type(x) is dict:
            for a in x:
                flatten(x[a], name + a + '_')
        elif type(x) is list:
            i = 0
            for a in x:
                flatten(a, name + str(i) + '_')
                i += 1
        else:
            out[str(name[:-1])] = str(x)

    flatten(y)
    return out
# output is a dictionary that can be made into a dataframe with json_normalize

test=flatten_json(df2.iloc[200,32])
test2=json_normalize(test)
test2

,disbursal_amount,disbursal_currency,disbursal_date,loan_amount,local_payments_0_amount,local_payments_0_due_date,local_payments_10_amount,local_payments_10_due_date,local_payments_11_amount,local_payments_11_due_date,...,scheduled_payments_5_amount,scheduled_payments_5_due_date,scheduled_payments_6_amount,scheduled_payments_6_due_date,scheduled_payments_7_amount,scheduled_payments_7_due_date,scheduled_payments_8_amount,scheduled_payments_8_due_date,scheduled_payments_9_amount,scheduled_payments_9_due_date
0,20000,KES,2012-10-11T07:00:00Z,250,512.82,2012-11-15T08:00:00Z,512.82,2013-01-24T08:00:00Z,512.82,2013-01-31T08:00:00Z,...,6.41,2013-02-01T08:00:00Z,6.41,2013-02-01T08:00:00Z,6.41,2013-03-01T08:00:00Z,6.41,2013-03-01T08:00:00Z,6.41,2013-03-01T08:00:00Z

In [13]:
def flatten_cell(x):
    x1=json_normalize(x)
    return x1

In [14]:
y=df2

In [15]:
#reset_selective df2

In [16]:
y_ind=y.index
y.loc[:,'idnew']=y_ind

In [17]:
for col in y:                   #  Do not run  Corrupts dataset due to flattening cells that result in differing
    dfn=pd.DataFrame()          #  lengths.  This means that some rows have more columns than others!!
    y1=pd.Series()
    try:
        if col== 'borrowers':
            y=y.drop(col,axis=1)
            continue
        y1=y[col].apply(flatten_cell)
        #print y1        
        for item in y1:
            dfn=dfn.append(item)
        dfn.loc[:,'idnew']=y.index
        y=y.merge(dfn,how='left')
        y=y.drop([col], axis=1)
        print '*******************',col, 'was successfuly flattened and removed'
    except:
        print col, ' not flattened'
        pass

activity  not flattened
basket_amount  not flattened
bonus_credit_eligibility  not flattened
country  not flattened
country_code  not flattened
currency_exchange_loss_amount  not flattened
delinquent  not flattened
description  not flattened
funded_amount  not flattened
funded_date  not flattened
geo.level  not flattened
geo.pairs  not flattened
geo.type  not flattened
id  not flattened
******************* image was successfuly flattened and removed
******************* journal_totals was successfuly flattened and removed
languages  not flattened
lender_count  not flattened
loan_amount  not flattened
******************* location was successfuly flattened and removed
name  not flattened
obs  not flattened
paid_amount  not flattened
paid_date  not flattened
partner_id  not flattened
payments  not flattened
planned_expiration_date  not flattened
posted_date  not flattened
sector  not flattened
status  not flattened
tags  not flattened
******************* terms was successfuly flattened and removed
texts.ar  not flattened
texts.en  not flattened
texts.es  not flattened
texts.fr  not flattened
texts.id  not flattened
texts.mn  not flattened
texts.pt  not flattened
texts.ru  not flattened
texts.vi  not flattened
themes  not flattened
town  not flattened
translator  not flattened
use  not flattened
video  not flattened
prop_female  not flattened
num_borrowers  not flattened
idnew  not flattened